.text-small {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
}
.note-page {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    color: $gray-600;
    @include media-breakpoint-up(md) {
        font-size: 1rem;
        line-height: 26px;
    }
}
.plain-list {
    padding: 0;
    margin: 0 0 1.5rem;
    list-style: none;
    li {
        padding: 0;
        margin: 0;
        font-size: 16px;
        line-height: 26px;
    }
}
.bg-wrapper {
    position: relative;
    &__image {
        position: absolute;
        left: -16px;
        height: 272px;
        width: 272px;
        z-index: -1;

        @include media-breakpoint-up(md) {
            left: -30px;
        }
        @include media-breakpoint-up(xl) {
            left: -60px;
        }
        &.right {
            left: auto;
            right: -16px;
            @include media-breakpoint-up(md) {
                right: -30px;
            }
            @include media-breakpoint-up(xl) {
                right: -60px;
            }
        }
        &--onduvilla {
            background: url('../img/official/bg/pattern-onduvilla.png') repeat;
        }
        &--ondutis {
            background: url('../img/official/bg/pattern-ondutic.png') repeat;
        }
        &--onduline {
            background: url('../img/official/bg/pattern-onduline.png') repeat;
        }
    }
    &--main-page {
        .bg-wrapper__image--onduline {
            @include media-breakpoint-down(sm) {
                top: 280px;
                left: auto;
                right: -16px;
            }
            @include media-breakpoint-up(md) {

            }
            @include media-breakpoint-up(xl) {

            }
        }
        .bg-wrapper__image--onduvilla {
            display: none;
            @include media-breakpoint-up(xl) {
                display: block;
                top: 100px;
            }
        }
        .bg-wrapper__image--ondutis {
            @include media-breakpoint-down(sm) {
                display: none;
            }
            @include media-breakpoint-up(md) {
                top: 138px;
            }
            @include media-breakpoint-up(xl) {
                top: 232px;
            }
        }
    }
}

.bg-onduline {
    background: url('../img/official/bg/pattern-onduline.png') repeat;
}

.bg-onduvilla {
    background: url('../img/official/bg/pattern-onduvilla.png') repeat;
}

.bg-ondutic {
    background: url('../img/official/bg/pattern-ondutic.png') repeat;
}

.block-scroll-xs {
    @include media-breakpoint-down(sm) {
        width: 100vw;
        overflow: scroll;
        transform: translateX(calc(-50vw + 143px));
    }
    &__inner {
        @include media-breakpoint-down(sm) {
            padding: 20px 16px;
        }
    }
}

.color-round {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0;
    border-radius: 50%;
    background-image: linear-gradient(141deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}
.row-box {
    display: flex;
    align-items: center;
    span {
        display: inline-block;
        vertical-align: top;
        &:first-of-type {
            margin-right: 10px;
        }
    }
}
.info-page {
    h1 {
        color: $text;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 28px;
        margin: 0 0 20px;
        @include media-breakpoint-up(xl) {
            font-size: 2rem;
            line-height: 42px;
            margin-bottom: 28px;
        }
    }
}