@import "fonts/lato/lato";

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/rouble/icomoon.eot?4z2pkb');
    src:  url('../fonts/rouble/icomoon.eot?4z2pkb#iefix') format('embedded-opentype'),
    url('../fonts/rouble/icomoon.ttf?4z2pkb') format('truetype'),
    url('../fonts/rouble/icomoon.woff?4z2pkb') format('woff'),
    url('../fonts/rouble/icomoon.svg?4z2pkb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
